<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>
            {include title}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="das">
        <meta name="keywords" content="petice, mista, peticni-mista, cesko, republika, demokracie">
        <meta name="author" content="Milan Turyna">
        {ifset #head}
            {include head}
        {/ifset}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{$basePath}/js/tailwind.config.js"></script>
    </head>
    <body>
        <nav class="flex">
            <div class="bg-brand text-white">
                dddd
            </div>
            <div>
                <ul>
                    <li>
                        <a href="">Petiční výbory</a>
                    </li>
                    <li>
                        <a href="">
                            Nejnovější petice
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <label>
                    <input type="search" placeholder="search-placeholder">
                </label>
            </div>
            <div>
                <a href="">Přihlásit se</a>
            </div>
        </nav>
        {include content}
    </body>
</html>