<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>
            {include title}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="das">
        <meta name="keywords" content="petice, mista, peticni-mista, cesko, republika, demokracie">
        <meta name="author" content="Milan Turyna">
        {ifset #head}
            {include head}
        {/ifset}
        <link rel="stylesheet" href="{$basePath}/styles/output.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{$basePath}/js/tailwind.config.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body style="zoom: 90%">
        {import "@Parts/navigation.latte"}
        {include navigation}

        {include content}
        <footer>

        </footer>
    </body>
</html>